body{
  font-family:Arial;
  background:#eef2f7;
  padding:20px;
}

.container{
  max-width:700px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:20px;
}

.shop-logo{
  width:120px;
  height:120px;
  border-radius:50%;
  display:block;
  margin:auto;
  object-fit:cover;
}

h1{
  text-align:center;
}

.dashboard{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.card{
  background:#6c5ce7;
  color:white;
  padding:20px;
  border-radius:15px;
  text-align:center;
}

.form input{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  border:1px solid #ccc;
  box-sizing:border-box;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#00b894;
  color:white;
  font-weight:bold;
}

#search{
  width:100%;
  padding:12px;
  margin-top:20px;
  border-radius:10px;
  border:1px solid #ccc;
  box-sizing:border-box;
}

.customer{
  background:#f1f2f6;
  padding:15px;
  margin-top:15px;
  border-radius:15px;
}

.entry{
  background:white;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
}

.pay-btn{
  background:#e17055;
}

.whatsapp-btn{
  background:#25D366;
}
