body{
  font-family:Arial;
  background:#eef2f7;
  padding:20px;
}

.container{
  max-width:700px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:15px;
}

h1{text-align:center;}

.dashboard{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:10px;
}

.card{
  background:#6c5ce7;
  color:white;
  padding:15px;
  text-align:center;
  border-radius:10px;
}

.form input{
  width:100%;
  padding:10px;
  margin-top:10px;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  background:#00b894;
  color:white;
  border:none;
  border-radius:8px;
}

.customer{
  background:#f1f2f6;
  padding:15px;
  margin-top:10px;
  border-radius:10px;
}
